.content {
    display: flex;
    justify-content: center;
}

.row {
    gap: 1vw;
}

.content .col {
    display: flex;
    align-items: stretch;
}

.card {
    border-radius: 20px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
}

.card:hover {
    opacity: 100%;
    -webkit-transition: opacity 1s;
    transition: 0.5s;
    rotate: 2deg;
}

h2 {
    display: flex;
    justify-content: center;
}