/* #product-wrapper {
  display: flex;
  flex-direction: row;
}

#product-menu {
  display: flex;
}

#product-list {
  display: flex;
} */

.product-menu img {
  width: 130px;
  position: relative;
  transition: all 0.5s ease;
}

.product-menu img:hover {
  transform: scale(1.3);
  z-index: 1;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.image-container {
  position: relative;
  /* Set the position of the container to relative */
}

.image-text {
  color: red;
  position: absolute;
  /* Position the text absolutely to the right of the image */
  top: 0;
  left: 100%;
  margin-left: 10px;
  /* Add some margin to separate the text from the image */
  display: none;
  /* Hide the text by default */
  z-index: 999;
}

.image-container:hover .image-text {
  display: block;
  /* Show the text on hover */
}