.product-category {
  padding: 6vh 0 6vh 0;
}

.card {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  z-index: +1;
  border-radius: 10%;
  border: 0;
  width: 18rem;
}

.card:hover {
  rotate: 2deg;
}

.card-title {
  margin: 0;
}

.card>img {
  z-index: -1;
  opacity: 60%;
  object-fit: cover;
  position: relative;
  display: inline-block;
}

img:hover {
  opacity: 90%;
  -webkit-transition: opacity 1s;
  transition: opacity 0.5s;
}

.image_container {
  position: relative;
  width: 18rem;
}

.image_container img {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  border-radius: 10%;
  transition: height 0.2s ease-in-out;
}

.card-body.overlay {
  padding: 0;
}

.overlay h5 {
  color: #ffff;
  font-size: 1.5rem;
  position: absolute;
  top: 45%;
  bottom: 45%;
  left: 15%;
  right: 15%;
  /* transform: translate(-50%, -50%); */
  /* margin: 0;
  padding: 0;
  opacity: 0; */
  transition: opacity 0.3s ease-in-out;
}

.card:hover img {
  opacity: 0.7;
}

.card:hover .overlay {
  height: 100%;
}

/* .image_container:hover .overlay h3 {
  opacity: 1;
} */