.related-items {
    display: flex;
    justify-content: center;
    padding: 0 138px;
}

.related-items .row {
    gap: 3vw;
}

.related-items .col {
    display: flex;
    /* align-items: stretch; */
    align-items: center;
    justify-content: center;
}

.related-items .card {
    border-radius: 20px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    border: none;
}

.related-items .card:hover {
    opacity: 100%;
    -webkit-transition: opacity 1s;
    transition: 0.5s;
    rotate: 2deg;
}

h2 {
    display: flex;
    justify-content: center;
}