#product-wrapper {
    display: flex;
}

#product-menu {
    flex: 0 0 20%;
    position: fixed;
    top: 45%;
    left: 100px;
    transform: translateY(-50%);
    border: red solid;
}

#product-list {
    flex: 1 0 auto;
}

